html {
    background: linear-gradient(225deg, #004e92, #000428 75%); 
}

body {
    font-family: 'Aclonica', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 300px;
    padding: 20px;
    background: linear-gradient(45deg, #004e92, #000428 75%);
    box-shadow: 0 0 10px #0088ff1d;
    border-radius: 5px;
    text-align: center;
    transform: scale(0);
    animation: scale 1s ease forwards;
}

@keyframes scale {
    to {transform: scale(1);}
}

h1 {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Aclonica', sans-serif;
}

button {
    font-size: 1.1rem;
    padding: 10px;
    background: linear-gradient(to right, #000428, #004e92);
    /* background: #000428; */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 4px;
    transition: all 500ms;
}

button:hover {
    background: #077d8a;
    color: #000;
    font-weight: 500;
}

.full-width {
    width: 98%;
}

.password {
    height: 20px;
    font-size: 1.2rem;
    padding: 10px;
    margin: 20px 0;
    /* font-weight: 700; */
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
}
